* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --default-text: aliceblue;
  --dark-text: rgb(6, 6, 6);
  --header: rgb(40, 40, 40);
  --menu: rgb(163, 163, 163);
  --main: rgb(183, 183, 183);
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(125px, 250px) minmax(300px, 1fr);
  grid-template-rows: 100px 1fr 100px;
  color: var(--default-text);
}

/* Header */
header {
  background-color: var(--header);
  grid-column: 1/3;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 22.5px;
}

header > i {
  font-size: 30px;
}

/* Menu */
menu {
  background-color: var(--menu);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px 10%;
}

menu > ul.menuTaskList,
menu > ul.menuProjectsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

menu > ul.menuTaskList > li,
menu > ul.menuProjectsList > li {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 5px;
  width: 100%;
  padding: 3px;
  align-items: center;
}

menu > ul.menuTaskList > li > i {
  text-align: center;
}

menu > ul.menuTaskList,
menu > ul.menuProjectsList {
  list-style: none;
  color: var(--header);
  font-size: 20px;
}

menu > ul.menuTaskList > li:hover,
menu > ul.menuProjectsList > li:hover {
  background-color: grey;
  border-radius: 3px;
}

/* Main */
main {
  background-color: var(--main);
}

/* Footer */
footer {
  background-color: var(--header);
  grid-column: 1/3;
}
